/* .backGround{
    background-image: 
  url(
"https://www.deccanherald.com/sites/deccanherald.com/themes/deccanherald/images/icons/virgo.svg");
 
  background-repeat:no-repeat; 


} */


.backGround{
   
    background-image:
    url(
    "https://www.deccanherald.com/sites/deccanherald.com/themes/deccanherald/images/icons/virgo.svg");
    background-size: "cover";
    background-repeat:no-repeat;
    
    background-size: 70%;
    background-position-y: 30px;
    background-position-x: 120px;

   
   
    /* border:1px solid #FF622D; */
   
    /* width: 300px;
    height: 300px; */
    /* border: 2px solid;
    color: pink; */
    
    
}
